$text-nav: rgb(133, 12, 30);
$bg-nav: rgb(248, 209, 158);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: antiquewhite;
footer {
    background-color: $bg-nav;
    padding-top: 10px;
    padding-bottom: 10px;
    .f-div {
        display: flex;
        justify-content: space-evenly;
      
        .f-link {
            text-decoration: none;
            color: $text-nav; 
            padding: 10px;
        }
    }
    .f-p {
        display: block;
        padding: 10px;
        text-align: center;
        color: $text-nav;
    }
}