$text-nav: rgb(133, 12, 30);
$bg-nav: rgb(248, 209, 158);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: antiquewhite;
.container {
    display: flex;
    flex-direction: column;
    align-items: c;
.headline {}    
}
