@import "nav-style";
// @import "footer-style";
$text-nav: rgb(133, 12, 30);
$bg-nav: rgb(248, 209, 158);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: antiquewhite;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$text-nav: rgb(133, 12, 30);
$bg-nav: rgb(248, 209, 158);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: antiquewhite;
body {
    background-color: $bg-body;
    font-family: 'Quicksand', sans-serif;
    // footer {
    //     display: flex;
    //     justify-content: space-evenly;
    //     background-color: rgb(189, 152, 105);
    //     padding-top: 10px;
    //     padding-bottom: 10px;
    //     .f-link {
    //         text-decoration: none;
    //         color: red;
    //     }
    //     .f-p {
    //         text-align: center;
    //     }
    // }
}