@import "media.scss";
@import "nav-style.scss";
//  @media screen and (max-width: 480px) {
//      .container {
//          display: grid;
//          grid-template-rows: repeat(12, 1fr);
//          grid-template-columns: 1, 1fr;
//          //  gap: 3rem;
//          //  padding: 2rem;
//      }
//  }
//  @media screen and (min-width: 601px) and (max-width: 962px) {
//      .container {
//          display: grid;
//          grid-template-rows: repeat(6, 1fr);
//          grid-template-columns: repeat(2, 1fr);
//          //  gap: 3rem;
//          //  padding: 2rem;
//      }
//  }
$text-nav: rgb(133, 12, 30);
$bg-nav: rgb(248, 209, 158);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: antiquewhite;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-body;
    font-family: 'Quicksand', sans-serif;
    .container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        padding: 2rem;
        .item {
            overflow: hidden;
            padding: 10px;
            border: 2px;
            border-radius: 15px;
            box-shadow: rgba(235, 167, 64, 0.548) 0px 7px 9px 0px;
            // height: 100vh;
            a {
                .image {
                    width: 100%;
                    height: 94%;
                    border-radius: 10px;
                }
            }
            p {
                height: 6%;
                padding: 5px;
                text-align: center;
            }
            // background-image: url("https://cdn.pixabay.com/photo/2022/11/29/15/18/sunset-7624720_960_720.jpg");
            // background-size: cover;
            // background-position: center;
        }
        .item:hover {
            transform: scale(1.1);
            transition: width 1s, height 1s, transform 1s;
            ;
        }
    }
    footer {
        background-color: $bg-nav;
        padding-top: 10px;
        padding-bottom: 10px;
        .f-div {
            display: flex;
            justify-content: space-evenly;
            .f-link {
                text-decoration: none;
                color: $text-nav;
                padding: 10px;
            }
        }
        .f-p {
            display: block;
            padding: 10px;
            text-align: center;
            color: $text-nav;
        }
    }
}

.container-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        #hero {
            width: 50%;
            border-radius: 10px;
            box-shadow: rgba(185, 139, 69, 0.2) 0px 7px 9px 0px;
        }
    }
    .recipe {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 50%;
        }
        ul {
            li {
                list-style: none;
                padding: 10px;
                input[type=checkbox]:checked+label {
                    color: grey;
                }
            }
        }
        .direct {
            width: 50%;
            h3 {
                text-align: center;
            }
            ol {
                li {
                    padding: 10px;
                }
            }
        }
    }
}