@import "nav-style";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$text-nav: rgb(133, 12, 30);
$bg-nav: rgb(248, 209, 158);
$bg-nav-hover: rgba(252, 230, 203, 0.966);
$bg-body: antiquewhite;
body {
    background-color: $bg-body;
}